@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  .link {
    @apply cursor-pointer text-[#fffacc];
  }

  .underline-animation {
    @apply absolute -bottom-[2px] left-0 w-0 h-[1px] bg-[#b5d6b2] transition-all group-hover:w-full;
  }
}
