@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@layer components {
  .link {
    @apply cursor-pointer text-[#fffacc];
  }

  .underline-animation {
    @apply absolute -bottom-[2px] left-0 w-0 h-[1px] bg-[#b5d6b2] transition-all group-hover:w-full;
  }

  .input-field {
    @apply bg-[#f8f5dc] outline-none w-[90%] ml-2 rounded-sm pl-1;
  }

  .button {
    @apply w-24 md:w-32 mb-4 text-[#53131e] border-[1px] border-[#b5d6b2] p-1 rounded-sm bg-[#fffacc] hover:bg-[#b5d6b2] hover:border-[1px] hover:border-[#fffacc];
  }

  .card {
    @apply flex-col w-[150px] flex items-center max-w-7xl mx-auto border-[1px] border-[#53131e] shadow-lg;
  }
}
